<h1>Acerca de Mercado Liebre</h1>
<p><strong>Bienvenido a Mercado Liebre</strong></p>
<p>Mercado Liebre es tu destino en línea para descubrir una amplia gama de productos, desde tecnología y moda hasta artículos para el hogar y mucho más. Inspirados por la diversidad y la accesibilidad, en Mercado Liebre nos dedicamos a ofrecerte una experiencia de compra única y satisfactoria.</p>

<p><strong>Nuestra Misión</strong></p>
<p>Nuestra misión en Mercado Liebre es conectar a compradores y vendedores de manera eficiente y segura, facilitando transacciones transparentes y experiencias de compra excepcionales. Nos esforzamos por ser tu plataforma preferida donde encuentres todo lo que necesitas, respaldados por un servicio al cliente excepcional y una comunidad activa.</p>

<p><strong>Qué Ofrecemos</strong></p>
<ul>
    <li><strong>Variedad y Calidad:</strong> Una amplia selección de productos de alta calidad de vendedores verificados.</li>
    <li><strong>Seguridad y Confianza:</strong> Transacciones seguras respaldadas por robustas políticas de protección al comprador.</li>
    <li><strong>Experiencia Personalizada:</strong> Recomendaciones personalizadas y un entorno de compra intuitivo para satisfacer tus necesidades únicas.</li>
    <li><strong>Soporte Expertos:</strong> Equipo de atención al cliente comprometido en garantizar tu satisfacción en cada compra.</li>
</ul>

<p><strong>Únete a Nosotros</strong></p>
<p>Explora Mercado Liebre hoy mismo y descubre por qué millones de usuarios confían en nosotros para sus compras en línea. Estamos aquí para hacer que tu experiencia de compra sea fácil, segura y emocionante.</p>

<p><strong>Contacto</strong></p>
<p>¿Tienes preguntas o comentarios? ¡Contáctanos en cualquier momento! Estamos aquí para ayudarte.</p>
<p><a [routerLink]="['/products']" class="contact-link">Visítanos en Mercado Liebre</a></p>
