<h3>Carrito</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of cartList$ | async">
            <th>1</th>
            <th>
                <div class="d-flex align-items-center">
                    <img [src]="product.image" [alt]="product.name" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1 text-truncate" >{{product.name}}</p>
                        <p class="text-muted mb-0">{{product.category}}</p>
                    </div>
                </div>

            </th>
            <th>{{product.quantity}}</th>
            @if (product.offerprice!=0 && product.offerprice<product.price) { <th class="offer">
                <div class="oldprice small text-danger">{{product.price}}</div>
                {{product.offerprice}}
                </th>
                <th class="offer">
                    <div class="oldprice small text-danger">{{product.quantity * product.price}}</div>
                    {{product.quantity * product.offerprice}}
                </th>
                }@else{
                <th>
                    {{product.price}}
                </th>
                <th>
                    {{product.quantity * product.price}}
                </th>
                }
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Total</th>
            <th>-</th>
            <th>-</th>
            <th>{{ getTotalPrice() }}</th>
        </tr>
    </tfoot>
</table>
